<h3>{{l10n.PAIRING_FAILED_TITLE}}</h3>

<p class="lowered">
	<span ng-show="unifying.state['deviceToPair']">
		{{
			l10n.format(l10n['PAIRING_FAILED_DEVICE_1'], {
				DEVICE_NAME: unifying['state']['deviceToPair']['name']
			})
		}}
	</span>
	<span ng-hide="unifying.state['deviceToPair']">
		{{l10n.PAIRING_FAILED_DEVICE_2}}
	</span>
</p>

<ul>
	<li>{{l10n.PAIRING_FAILED_STEP_RETRY}}</li>
	<li>{{l10n.PAIRING_FAILED_STEP_CLOSE}}</li>
</ul>

<p>
	<a href="#" ng-click="unifying.troubleshoot()">
		{{l10n.PAIRING_FAILED_CLICK}}
	</a>
	{{l10n.PAIRING_FAILED_FOR_INFO}}
</p>

<img src="img/warning.png"></img>

<div ng-show="unifying.state['deviceToPair']">
	<button ng-click="unifying['state'].skipDevice()">
		{{l10n.PAIRING_FAILED_SKIP_DEVICE}}
	</button>
</div>
